<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <title>Tic-Tack-Tick</title>
</head>
<body>
    <header class="bg-light py-4">
        <div class="container text-center">
          <h1 class="fs-1 fw-semibold display-4">Tic-Tack-Tick</h1>
        </div>
    </header>

    <header class="">
        <div class="container text-center">
          <h1 class="fs-3 my-4 fw-semibold">BlogWriter so fun/free time</h1>
        </div>
    </header>
    
    <main>
        <div class="container">
            <div class="row justify-content-left">
              <div class="offset-3 col-md-6">
                {{ content }}
              </div>
            </div>
        </div>
    </main>
</body>
</html>